*{
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #add8ec;
    align-items: center;
 
    background: #aaa9a9;
}

#keys{
    max-width: 30rem;  
    background: #616161;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

     font-weight: bold;
     cursor: pointer;
}
button:hover{
    background-color: #fdfdc2;
}
button:active{
    background-color: #dadaa6;
}

.operator-btn{
    background: #add8ec;
}
.operator-btn:hover{
    background: #cff0ff;
}
.operator-btn:active{
    background: #71838b;
}